body {
	margin: 0 0 50px;
}

html {
	position: relative;
	min-height: 100%;
}

#logo {
	height: 20px;
}

footer {
	background-color: #F7F7F9;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#copyright {
	color: #6A4A6A;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

#book-img {
	float: left;
	padding-right: 10px;
}

#viena-knyga {
	margin: 10px;
}

#viena-knyga td {
	width: 200px;
}

.antrastes-spalva {
	color: darkgray;
}

#sort-links a{
	color: black;
	text-decoration: underline;
}

#pages {
	margin: 0 auto;
	text-align: center;
}

#pages a {
	color: black;
}

.active {
	font-size: 20px;
	font-weight: bold;
}