#logo {
	height: 20px;
}

footer {
	background-color: #F7F7F9;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#copyright {
	color: #6A4A6A;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}